nav {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
}

.container {
    margin-left: 16px;
    margin-right: 36px;
}
.slide {
    margin-left: 16px;
    margin-right: 16px;
}